In [2]:
#difference between two numbers if the maximum difference is 5

a = int(input("Enter the 1st number:"))
b = int(input("Enter the 2nd number:"))

if b>a:
    diff = b-a
    if diff<=5:
        print("difference:", diff)
    else:
        print("Error:Enter other numbers")

Enter the 1st number: 12
Enter the 2nd number: 13

difference: 1

In [15]:
#diff of two numbers in function


def diff(a,b):
    if b>a:
        d = b-a
        if abs(d<=5):
            return True
        else:
            return False

    else:
        return "Error"


q=diff(-5,-3)
print(q)

True

In [20]:
#maximum of three numbers


def maxi_mum(a,b,c):
    d = max(a,b)
    e = max(d,c)
    return e

print(maxi_mum(12.3,32.5,123.4))

123.4

In [42]:
#using positonal arguments printing the message

def student(name,profession,/):
    stu_dent="iam "+ name+" and iam working as a "+ profession
    return stu_dent

print(student('gokul','Developer'))

iam gokul and iam working as a Developer

In [46]:
#find the planets using its id


def planets(id):
    planets = {1:"Mercury",2:"venus",3:"Earth",4:"mars",5:"jupyter",6:"saturn",7:"neptune",8:"uranus",9:"pluto"}
    return planets[id]

id = int(input("Enter the id"))
e = planets(3)
print(e)

Enter the id 4

Earth

In [2]:
#adding student marks divisible by 0


def student(L):
    s = 0
    for i in L:
        if i%10==0:
            s=s+i
    return s

L = [100,150,200,250,345,545]
student(L)

700

In [8]:
#In the dictionary making keys as values and values as keys


def invert(d):
    new_d={}
    for k,v in d.items():
        new_d[v] = k
    return new_d

d1 = {1:'a',2:'b',3:'c'}

d2 = invert(d1)
print(d2)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#pangram phrase


def alpha(phr):
    letters=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
    phr = set(phr)
    if len(phr)>=len(letters):
        return True
    else:
        return False

phr = 'The five boxing wizards jump quickly'
print(alpha(phr))

In [ ]:
#counting the number of upper and lower case letters

def letters(alpha):
    uc = 0
    lc = 0
    for i in alpha:
        if i.isupper():
            uc= uc+1
            
        if i.islower():
            lc=lc+1

    return uc,lc
a = letters('GoKul')
print(a)

In [20]:
#pascal triangle

def pascal(n):
    r=[1]
    for i in range(n):  #doubt.....
        print(r)
        tr = [0] + r
        r = r + [0]
        nr = [ x+y for x,y in zip(r,tr)]
        r = nr

pascal(7)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]

In [28]:
#flatten a given nexted list

def flatten(L):
    for e in L:
        if hasattr(e,'__iter__'):
            yield e
        else:
            yield e

L = flatten([1,2,3,4,5,6,7,8])
print(next(L))
print(next(L))
print(next(L))
print(next(L))
print(next(L))

1
2
3
4
5