In [4]:
#counting how many mondays on the given year


import datetime

year = int(input("Enter the year:"))

monday = 0

for month in range(1,13):
    dt = datetime.date(year,month,1)

    if dt.weekday() == 0:
       print(month)
       monday += 1

print("No. of Mondays are:", monday)

Enter the year: 2024

1
4
7
No. of Mondays are: 3

In [ ]:
#how much time is taken to exceute a loop

import time

start_time = time.time()

for i in range(100000000):
    pass

end_time = time.time()

Exceution_time = end_time - start_time

print(Exceution_time)  


#        or


'''import datetime

start_time = datetime.datetime.now()

for i in range(1000):
    pass

end_time = datetime.datetime.now()

Exceution_time= end_time - start_time

print(Exceution_time)

'''

# the time module is faster than the datetime module

In [12]:
#convering string date to datetime module

import datetime


class valueExceptionError(Exception):
    pass
    
date = input("Enter the dd-mm-yyyy format")

d,m,y = date.split('-')

if int(d) < 31:
    raise valueExceptionError("days are out of the range")

if int(m) < 12:
    
      raise valueExceptionError("month are out of the range")

dt1 = datetime.datetime(int(y),int(m),int(d))

print(dt1)

Enter the dd-mm-yyyy format 32-09-2002

valueExceptionError: month are out of the range

In [9]:
#finding the age of the given dob


from datetime import *

def age(dob):

    today = date.today()

    years = today.year - dob.year

    if (today.month, today.day) < (dob.month, dob.day):
        years -= 1

    return years

print(age(date(2002,9,20)))

21

In [17]:
#finding the date of a particular day in a week


import datetime as dt

def Finding(day):

    week_days = ['Monday','Tuesday','Wednesday','Thursday','Friday']

    today = dt.date.today()

    t_dw = today.weekday()

    w_tw = week_days.index(day)

    diff = t_dw - w_tw

    if diff < 0:
        new_date = today + dt.timedelta(diff)
    else:
        new_date = today - dt.timedelta(7-diff)
    return new_date

print(dt.date.today())

print("previous day:", Finding("Thursday"))

2024-05-13
previous day: 2024-05-10

In [23]:
#find all sundays in a given year

import datetime

def sundays(year):

    y_fd = datetime.date(year,1,1)
    t_dw = y_fd.weekday()
    i_d = datetime.timedelta(6-t_dw)

    sun = y_fd + i_d

    while sun.year == year:
        print(sun)
        sun += datetime.timedelta(7)



sundays(2020)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27

In [27]:
#print the day number of the date

import datetime

g_date = input("Enter the date in dd-mm-yyyy format:")

d,m,y = g_date.split('-')

fo_date = datetime.date(int(y), int(m), int(d))

fi_date= datetime.date(int(y),1,1)

diff = fo_date - fi_date

print(diff.days + 1)

Enter the date in dd-mm-yyyy format: 20-09-2002

263

In [1]:

import calendar

year = int(input('Enter Year: '))

for month in range(1, 13):
    cal = calendar.monthcalendar(year, month)

    first_week = cal[0]
    second_week = cal[1]
    third_week = cal[2]

    if first_week[5] != 0:
        print(second_week[5], '-', month, '-', year)
    else:
        print(third_week[5], '-', month, '-', year)

Enter Year:  2002

12 - 1 - 2002
9 - 2 - 2002
9 - 3 - 2002
13 - 4 - 2002
11 - 5 - 2002
8 - 6 - 2002
13 - 7 - 2002
10 - 8 - 2002
14 - 9 - 2002
12 - 10 - 2002
9 - 11 - 2002
14 - 12 - 2002